{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Homepage</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">

</head>
<body>
<nav class="shadow-lg">
    <div class="px-4 mx-auto">
        <div class="container justify-between flex py-5">
            <div>
                <a href="{% url 'index' %}" class="flex">
                    <img class="h-7 mr-3" src="{% static 'myapp/images/wallet.png' %}" alt="">
                    <span class="self-center text-xl font-semibold"> Expense Tracker</span>
                </a>
            </div>

            <div class="">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="py-4 px-2 text-gray-500 font-semibold text-xl">
                    Logout
                </a>
                {% else %}
                <a href="{% url 'register' %}" class="py-4 px-2 text-gray-500 font-semibold text-xl">
                    Register
                </a>

                <a href="{% url 'login' %}" class="py-4 px-2 text-gray-500 font-semibold text-xl">
                    Login
                </a>

                {% endif %}
            </div>
        </div>
    <div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>